.wm-modal {
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: all .3s linear;
    width: 100%;
    z-index: 100;
    opacity: 1;
    transition: all .2s linear;
}

.wm-modal.closing{
    opacity: 0;
}

.wm-modal > .modal-container {
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 10px 0px;
    position: fixed;
    width: 50%;
    left: 50%;
    top:  50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    overflow: hidden;
    background-color: #fff;
}

.wm-modal .modal-close-btn {
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 8px;
}

.wm-modal > .modal-container .modal-header {
    box-sizing: border-box;
    font-family: Arial;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height 70px;
    line-height: normal;
    min-height: 10%;
    padding:10px;
    width: 100%;
}

.wm-modal > .modal-container .modal-body{
    box-sizing: border-box;
    font-family: Arial;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    width: 100%;
}

.wm-modal > .modal-container .modal-footer{
    height: 20%;
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    position: relative;
    padding: 10px;
    text-align: right;
}

.wm-modal .modal-btn{
    border-radius: 3px;
    cursor: pointer;
    font-family: Arial;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    outline: none;
    padding: 4px;
}

.wm-modal .modal-btn:active{
    transform: translateY(2px);
    box-shadow: 0 0 10px #ccc inset;
}

.wm-modal .modal-btn.default{
    border: 1px solid #ccc;
    color: #222;
    background-color: #eee;
}

.wm-modal .modal-btn.confirm{
    border: 1px solid rgb(54, 127, 169);
    color: #ffffff;
    background: rgb(54, 127, 169);
}

.wm-modal .modal-close{
    text-decoration: none;
    font-size: 1.5em;
    color: #999;
    border: none;
    padding: 2px;
    margin: 0;
    display: inline-block;
}

/** Animations of ngAnimate **/

.wm-modal.close {
    display: none;
    opacity: 0;
}

.wm-modal.close.close-add{
    display: block;
}

.wm-modal.close.close-add.close-add-active{
    opacity: 0;
}

.wm-modal.close-remove{
    display: block;
}

.wm-modal.close-remove.close-remove-active{
    opacity: 1;
}